*{
  font-family: poppins;
}

body{
  background-color: hsl(0, 0%, 100%);
}
.heading{
  text-align: center;
}

.heading h2{
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 50px;
  color: hsl(212, 6%, 44%);
}

.heading h3{
  font-weight: bold;
  margin: 5px;
  color: hsl(234, 12%, 34%);
}

.heading p{
  color: hsl(212, 6%, 44%);
}

.grid-container{
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  width: 940px;
  margin-top: 30px;
  padding: 10px;
}
.supervisor{
  background-color: hsl(0, 0%, 100%);
  border: 0 solid;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 hsl(212, 6%, 44%);
  border-top: 3px solid hsl(180, 62%, 55%);
  padding: 20px;
  text-align: right;
}

.team-builder{
  background-color: hsl(0, 0%, 100%);
  border: 0 solid;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 hsl(212, 6%, 44%);
  border-top: 3px solid hsl(0, 78%, 62%);
  padding: 20px;
  text-align: right;
  margin-bottom: 10px;
  width: 300px;
}

.karma{
  background-color: hsl(0, 0%, 100%);
  border: 0 solid;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 hsl(212, 6%, 44%);
  border-top: 3px solid hsl(34, 97%, 64%);
  padding: 20px;
  text-align: right;
  width: 300px;
}

.calculator{
  background-color: hsl(0, 0%, 100%);
  border: 0 solid;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 hsl(212, 6%, 44%);
  border-top: 3px solid hsl(212, 86%, 64%);
  padding: 20px;
  text-align: right;
}

.box-text{
  text-align: left;
}

.supervisor,.calculator{
  width: 300px;
  align-self: center;
}

@media(max-width:600px) {
  body{
    font-family: Poppins;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .h2{
    font-size: 10px;
    font-weight: 100;
  }
  .heading{
    font-size: 15px;
  }
  .grid-container{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    width: 340px;
    margin-top: 30px;
    padding: 10px;
  }

  .supervisor, .team-builder, .karma, .calculator{
    width: 300px;
  }

  footer{
    font-size: 15px;
    text-align: center;
  }
}
